@import url('https://fonts.googleapis.com/css2?family=Handjet:wght,ELSH@100..900,2&display=swap');

:root() {
    margin: 0;
}

body {
    background-color: hsl(54, 77%, 71%);
}

#main-title {
    margin-top: 25%;
    letter-spacing: 2.1em;
    font-size: 3em;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    color: #c5b8e4;
    font-family: 'Handjet', monospace;
}
#main-title::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 400px;
    height: 400px;

    background-image: url("../data/wing1.png");
}

#wing-left, #wing-right {
    min-width: 400px;
    min-height: 400px;
    display: inline;
    background-image: url("../data/wing1.png");
    border: 2px solid black;
}