@import url('https://fonts.googleapis.com/css2?family=Handjet:wght,ELSH@100..900,2&display=swap');

:root {
    margin: 0;
}

body {
    background-color: black;
    display: flex;
    min-height: 100vh;
    overflow: hidden;
    min-width: 100vh;
    justify-content: center;
    align-items: center;
}

#eyes-grid {
    display: grid;
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -3;

    grid-template: repeat(6, 1fr) / repeat(8, 1fr);
}

.eye-container {
    background-image: url("../data/eyefull.png");
}

#title-container {
    display: inline-flex;
    
    justify-self: center;
    align-self: center;

    justify-items: center;
    align-items: center;
}

#main-title {
    font-size: 3em;
    width: 100%;
    color: #e0dde7;
    font-family: 'Handjet', monospace;
    text-align: center;
    position: relative;
    top: 40px;
}

 
#wing-left, #wing-right {
    min-width: 400px;
    min-height: 400px;
    display: inline;
    background-image: url("../data/wing1.png");
    background-size: 400px;
    filter: invert();
    transform: rotateZ(45deg);
}

#wing-left.transition-init, #wing-right.transition-init {
    transition: transform 2s ease-out;
    transform: rotateZ(0deg);
}

#wing-left {
    scale: -1 1;
}